* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 1.6rem;
}

/* HEADER */

.header-img {
    position: relative;
    height: 260px;
    background-image: url('../img/head-bakery.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.header-bg {
    width: 100%;
    height: 100%;
    background-color: rgba(122, 39, 39, 0.4);
}

.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-shadow: 3px 3px 5px black;
    text-transform: uppercase;
}

header h1 {
    font-size: 5rem;
    margin-bottom: 10px;
}

/* MAIN */

main {
    width: 60%;
    margin: 50px auto;
}

.about-us-heading {
    font-size: 3.2rem;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
}

section {
    margin: 40px 0;
}

.about-us-section {
    position: relative;
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.top {
    background-image: url('../img/home-main-section-top.jpg');
}

.middle {
    background-image: url('../img/home-main-section-middle.jpg');
}

.bottom {
    background-image: url('../img/home-main-section-bottom.jpg');
}

.about-us-text {
    position: absolute;
    bottom: 20px;
    padding: 20px 40px;
    color: #fff;
    text-align: center;
    z-index: 1;
}

.about-us-text h3 {
    margin-bottom: 20px;
    font-size: 2.2rem;
    text-transform: uppercase;
}

.about-us-bg {
    position: absolute;
    bottom: 0;
    height: 50%;
    width: 100%;
    background-color: rgba(51, 51, 51, .8);
    border-bottom-right-radius: 50px;
}

/* NAVIGATION */

nav {
    height: 50px;
    background-color: rgb(51, 51, 51);
    text-align: center;
    line-height: 50px;
}

nav li {
    display: inline-block;
}

nav li a {
    padding: 0 50px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.6rem;
    letter-spacing: 2px;
    transition: color .3s;
}

nav li a:hover {
    color: rgb(0,134,243);
}

/* FOOTER */

footer {
    height: 80px;
    color: #fff;
    background-color: #333;
    line-height: 80px;
    text-align: center;
    font-size: 18px;
}

.foot-icon {
    margin-left: 50px;
}

.foot-icon i {
    padding: 0 5px;
    color: #fff;
    font-size: 24px;
    transition: color .3s;
}

.foot-icon i:hover {
    color: rgb(0,134,243);
}
